services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jotit_web
    command: ./entrypoint.sh
    volumes:
      - .:/app
      - ./staticfiles:/app/staticfiles
    ports:
      - "8080:8000"
    env_file:
      - .env
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: jotit_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${DB_NAME:-jotit}
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_USER_PASSWORD:-7788}
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: jotit_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:-admin@local.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:-admin}
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  postgres_data:
